<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @list.user_id %>
</p>

<p>
  <strong>Listname:</strong>
  <%= @list.listname %>
</p>

<%= link_to 'Edit', edit_user_list_path([@user, @list]) %> |
<%= link_to 'Back', user_lists_path %>
